{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}The rhetorical values of "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>The rules go here</p>
<p>This blogpost scored a subjectivity value of: {{subjectivity}}</p>

<p>Categorizing it as:</p>
{% if 0.5 >= subjectivity %}
<p>Mostly objective.</p>
{% elif subjectivity > 0.5 %}
<p>Mostly subjective.</p>
{% endif %}

<p>While also scoring a sentimental value of: {{polarity}}</p>
<p>Making the post seemingly:</p>
{% if polarity >= 0.0 %}
<p>Positive.</p>
{% elif 0.0 > polarity %}
<p>Negativev.</p>
{% endif %}

{% endblock %}